<html>
  <head>
    <title>Welcome to Word Counter!</title>
  </head>
  <body>
    <h1>Word Counter</h1>
    <form class = "" action = "/wordcount" method = "post">
      <label = "user-word"> Enter a word:</label>
      <input type = "text" name = "userInputWord">
      <label = "user-string"> Enter a sentence to see if and how many times your word appears!: </label>
      <input type = "text" name = "user-string">
    </form>
  </body>
</html>
