<html>
  <head>
    <title>Welcome to Word Counter!</title>
  </head>
  <body>
    <h1>Word Counter</h1>
    <form class="" action="/wordcount" method="post">
      <label for="user-word"> Enter a word:</label>
      <input type="text" name="userInputWord" class="form-control" required>
      <label for="user-string"> Enter a sentence to see if and how many times your word appears!:</label>
      <input type = "text" name="userInputString" class="form-control" required>
      <button type="submit">Check and See!</button>
    </form>
  </body>
</html>
