<html>
  <head>
    <title>Word Counter Result!</title>
  </head>
  <body>
    <h1>Results:</h1>
    <h2>@Model.GetUserWord() is included @Model.GetWordsCounted() times in your sentence @Model.GetUserString()</h2>
  </body>
</html>
